.row{
    padding: 15px;
}
div{
    background-color: rgb(245, 237, 243);
    text-align: justify;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* Estilo de la foto de perfil */
@media(max-width:575px){
    #fotodeperfil{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px grey;
        top: 400px;
        left: 40%;
    }
}
@media(min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px grey;
        top: 450px;
        left: 2%;
    }
}
/* Etiqueta nombre */
#nombre{
    font-weight: bold;
    margin-top: 50%;
    margin-left: 10px;
    text-align: center;
}
/* Etiqueta Developer */
#developer{
    text-align: center;
}

h1{
    text-decoration: underline;
}