<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Curso: "Introducción a la programación en python" </h1>
                <h3>  (Año:2022)</h3>
                <p>Organizado por la Facultad de Matemática, Astronomía,  Física y Computación. Universidad Nacional de Córdoba.</p>
            </li>
            <li>
                <h1>Educación Universitaria </h1>
                <h3>  (Año:2021)</h3>
                <p>Licenciatura en sistema en información: Estudiante de la Facultad de Ciencias Exactas y Naturales y Agrimensura (UNNE)</p>
            </li>
            <li>
                <h1>Educación Universitaria </h1>
                <h3>  (Año:2018)</h3>
                <p>Profesora en Matemática. Egresada de la Facultad de Ciencias Exactas y Naturales y Agrimensura (UNNE)</p>
            </li>
        </ul>
    </div>
    <h1>Capacitación en Matemáticas</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>"Enseñanza de la Matemática"</h1>
                <h3>  (Año:2021)</h3>
                <p>Curso virtual. Postítulo. Carga horaria, 200hs. Organizado por el Instituto Superior de Formación Docente de "Caá Cati"- Corrientes.</p>
            </li>
            <li>
                <h1>"Bioestadística II: Números para pensar"</h1>
                <h3>  (Año:2021)</h3>
                <p>Curso virtual. Carga horaria, 110hs. Organizado por Dirección de Ciencias y Tecnología. Corrientes Capital.</p>
            </li>
            <li>
                <h1>"Un modo depensar la geométrico"</h1>
                <h3>  (Año:2021)</h3>
                <p>Curso virtual. Carga horaria, 61hs. Organizado por el Instituto de Formación Docente M.L. Román de Frechou. Saladas-Corrientes.</p>
            </li>
            <li>
                <h1>"Dimensiones didácticas de la educación estadística"</h1>
                <h3>  (Año:2020)</h3>
                <p>Curso virtual. Postítulo. Carga horaria, 30hs. Organizado por la Universidad de Rosario, Facultad de Ciencias Exactas, Ingenieria y Agrimensura.</p>
            </li>
            <li>
                <h1>"Diplomatura superior en enseñanza de la matemática en el nivel medio"</h1>
                <h3>  (Año:2019)</h3>
                <p>Curso presencial. Postítulo. Carga horaria, 128hs. Organizado por la Facultad de Ciencias Exactas y Naturales y Agrimensura (UNNE)/p>
            </li>
        </ul>
    </div>
<h1>Capacitación en Informática</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
             <li>
                <h1>"React Básico (Start Coding)"</h1>
                <h3>  (Año:2022)</h3>
                <p>Curso virtual. Carga horaria, 40hs. Certifica: El laboratorio de innovación e inteligencia artificial de la Facultad de Derecho de la UBA.</p>
            </li>
            <!-- <li>
                <h1>"Argentina Programa_#YOProgramo"</h1>
                <h3>  (Año:2022)</h3>
                <p>Curso virtual. Carga horaria apriximada, 60hs. Organizado por Ministerio de Desarrollo Productivo de la Republica Argentina y Cessi Argentina.</p>
            </li> -->
            <li>
                <h1>"JavaScript (Start Coding)"</h1>
                <h3>  (Año:2022)</h3>
                <p>Curso virtual. Carga horaria, 25hs. Certifica: El laboratorio de innovación e inteligencia artificial de la Facultad de Derecho de la UBA.</p>
            </li>
            <li>
                <h1>"Argentina Programa_#Se Programar"</h1>
                <h3>  (Año:2021)</h3>
                <p>Curso virtual. Carga horaria apriximada, 60hs. Organizado por Ministerio de Desarrollo Productivo de la Republica Argentina y Cessi Argentina.</p>
            </li>
            <li>
                <h1>"La programación y su didáctica 1"</h1>
                <h3>  (Año:2021)</h3>
                <p>Curso virtual. Carga horaria, 100hs. Organizado por Programar.AR de la Fundación Sadosky y la Facultad de Ciencias Exactas y Naturales y Agrimensura (UNNE).</p>
            </li>
            <li>
                <h1>"La infografía como recurso didáctico"</h1>
                <h3>  (Año:2021)</h3>
                <p>Curso presencial. Carga horaria, 40hs. Organizado por la Facultad de Ciencias Exactas y Naturales y Agrimensura (UNNE)/p>
            </li>
            <li>
                <h1>"Operador de informática para administración y gestión"</h1>
                <h3>  (Año:2021)</h3>
                <p>Curso virtual. Carga horaria, 500hs. Organizado por la Escuela Profesional Maria de Nazareth I-Prof-7. CorrientesProf-7.</p>
            </li>
            <li>
                <h1>"Introducción a la programación con Scratch (B)"</h1>
                <h3>  (Año:2020)</h3>
                <p>Curso virtual. Carga horaria, 61hs. Organizado por el Instituto de Formación Docente.</p>
            </li>
            <li>
                <h1>"Diseño Gráfico"</h1>
                <h3>  (Año:2020)</h3>
                <p>Curso virtual. Carga horaria, 18hs. Organizado por el Instituto de Capacitación Profesional Estetica y Diseño- Corrientes </p>
            </li>
             <li>
                <h1>"Busqueda y evaluación de información en internet"</h1>
                <h3>  (Año:2019)</h3>
                <p>Curso presencial. Carga horaria, 61hs. Organizado por Dirección de Nivel Superior- Corrientes.</p>
             </li>
             <li>
                <h1>"Internet, Word, Excel y Power Point: Introducción a las Herramientas Ofimaticas 3,0"</h1>
                <h3>  (Año:2019)</h3>
                <p>Curso presencial. Carga horaria, 45hs. Organizado por la Facultad de Ciencias Exactas y Naturales y Agrimensura (UNNE)/p>
            </li>
    </ul>
</div>
</div>
