<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <br>
            <li>
                <h1>Instituto Privado San Jose I2</h1>
                <h3>   (Período: 1/06/2019 al 12/06/2019)</h3><br>
                <h2>Tareas desempeñadas:</h2>
                <ul>
                    <li>
                        <p>Profesora de matemática del ciclo básico y ciclo orientado</p>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <br>
            <li>
                <h1>Colegio Secundario Dr Federico Leloir</h1>
                <h3>  (Período: 25/09/2019 al 30/06/2021)</h3><br>
                <h2><br>Tareas desempeñadas:</h2>
                <ul>
                    <li>
                        <p>Profesora de matemática del ciclo básico y ciclo orientado</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Dictado de clases de apoyo y talleres, de matematica, para cliclo orientado y clico básico</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Organización de actos</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Diseño y ejecuciosn de actividades para recaudar de fondos</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Trabajo colaborativo con docentes de la institución para elaborar la página del área de matemática, durante la pandemia</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Elaboracion de material didáctico para el aula virtual, edición de videos, elaboracion de formularios de Google, etc.</p>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <br>
            <li>
                <h1>Universidad de la Cuenca de Plata</h1>
                <h3>  (Período: 3/03/2020 al 30/06/2020)</h3>
                <h2><br>Tareas desempeñadas:</h2>
                <ul>
                    <li>
                        <p>Dictado de clases teóricas y prácticas, en carácter de adscripta en la materia de Estdística de la "Licenciatura en Adiministracion".</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Tutorias, prsenciales y virtuales.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Elaboración del trabajo de ascripción.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Elaboracion de material didactico, guía de trabajos practicos, etc.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Trabajo en equipo.</p>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <br>
            <li>
                <h1>Escuela Técnica Construcciones Protuarias y vías Navegables</h1>
                <h3>  (Período: 9/03/2021 hasta la actualida)</h3>
                <h2><br>Tareas desempeñadas:</h2>
                <ul>
                    <li>
                        <p>Profesora de matemática del ciclo básico.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Organización de actos.</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Colaboracion con el despliegue de la semana de la educación técnica.</p>
                    </li>
                </ul>
            </li>
            <li>
                <h1>Instituto Superior Carmen Molina de Llano</h1>
                <h3>  (Período: 10/09/2021 hasta la actualidad)</h3>
                <h2><br>Tareas desempeñadas:</h2>
                    <ul>
                        <li>
                            <p>Profesora de fisica, en la carrera de la tecnicatura en bromatología.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Dictado de clases de apoyo y talleres, de matematica, para cliclo orientado y clico básico.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Organización de acto académico.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Dictado de curso institucional, presencial y virtual, como parte de un proyecto interdisciplinario-contracuatrimestral.</p>
                        </li>
                    </ul>
                </li>
            </ul>
    </div>
</div>