<div class="row"> 
    <h1>Hard & Soft Skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="90"
      [showUnits]="false"
      [imageSrc]="'../../../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#D8198F'"
      [innerStrokeColor]="'#e495b7'"
      [animation]="true"
      [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="85"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/js.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="80"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/git.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="85"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/html.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="33"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/python.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="70"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/react.jpg'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="85"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/trabajo_equipo.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="25"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/ingles.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
    [percent]="100"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../../../assets/comunicacion.jpg'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#D8198F'"
    [innerStrokeColor]="'#e495b7'"
    [animation]="true"
    [animationDuration]="500"
></circle-progress>
</div>
</div>
